/* Empty. Add your own CSS if you like */
.top {
    background-color: #009688;
}

.title {
    color: white;
}

.icon {
    color: white;
}

.purchased {
    color: #9E9E9E;
    text-decoration: line-through;
}